{% extends 'layout.html.twig' %}

{% block content %}
  <h3>Dropdown</h3>
  <a href="{{ path('dropdown') }}">Dropdown - VueJs/jQuery</a>

  <h3>Panels</h3>
  <a href="{{ path('panels') }}">Panels - VueJs/jQuery</a>

  <h3>Recipe</h3>
  <a href="{{ path('recipe') }}">Recipe - VueJs/jQuery</a>

  <h3>Recipe with components</h3>
  <a href="{{ path('recipe_components') }}">Recipe with components - VueJs</a>

  <h3>Recipe with components & webpack</h3>
  <a href="{{ path('recipe_components_webpack') }}">Recipe with components & webpack - VueJs</a>

  <h3>Widgets</h3>
  <a href="{{ path('widgets') }}">Widgets</a>
{% endblock %}